
*.out

*.pyc

.*

misc/thread_efficiency/big_data.txt

misc/weiboClient/.tags

misc/weiboClient/.tags_sorted_by_file

misc/weiboClient/comments.txt

misc/weiboOfficial/.tags

misc/weiboOfficial/.tags_sorted_by_file

misc/weiboOfficial/data.txt

misc/weiboOfficial/comments.txt

misc/weiboClient/token

misc/.tags

misc/.tags_sorted_by_file

misc/Garbage_Collector

misc/hash

python/.tags

python/.tags_sorted_by_file

python/MacCnt.txt

wx/AccessToken

/ruby/yesterday.txt

python/yesterday.txt
