[user]
	name = zhanglintc
	email = zhanglintc623@gmail.com
[color]
	ui = true
	diff = auto
	status = auto
	branch = auto
	interactive = auto
[alias]
	br = branch
	cm = commit
	ck = checkout
	df = diff
	ss = stash
	st = status
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
[core]
	editor = vim
	filemode = false
	fileMode = false
[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
